$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #89d309;
$link-hover-color			:#89d309;
$brand-primary              :#89d309;